CMakeLists.txt.user
_CMakeLists.txt
src/extern
.idea
**/*/pygiftgrab.so
*.pyc
*.latency.txt
*.timing.txt
*.timing.yml
.cache
*.egg-info
dist
*venv
doc/build
src/build
src/dist
src/*.egg-info
*.swp
src/tests/pipeline/mtr-build
gg-iss-16
gg-iss-5
bm3d-build
