recursive-include api *
recursive-include cmake *
recursive-include epiphansdk *
recursive-include blackmagicsdk *
recursive-include vlc *
recursive-include ffmpeg *
recursive-include opencv *
recursive-include python *
recursive-include tests *
recursive-include utils *
recursive-include pip *
include CMakeLists.txt
